---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div style="font-family: Arial, sans-serif; display:flex;justify-content:center;align-items:center;flex-direction:column;min-height:100vh;">
        <Image alt="Логотип" src="https://admin.mlfm.store/assets/918c4e74-9193-418f-a972-db7fbefd62c8" width="50" height="50"/>
        <h1>Проводятся технические работы</h1>
        <p>По всем вопросам пишите на почту <a href="mailto:info@mlfm.store">info@mlfm.store</a> или WhatsApp <a href="https://wa.me/+79256306487">+79256306487</a></p>
    </div>
</Layout>
